*sequence.txt
*.fq
*.out
*.log
*.tmp
*.ebwt
*.bt2
*.fa*
*.bam
*.sam
*.tsv
*.gtf
*.gff
__pycache__
*.fai
*.pdf
*.pyc
*.pkl
*.fb
*dump*
*.cfg

analysis*
sequence*
MemeOutput
MemeOutput2
Reference/miso-events
Reference/AAA
NonFlyNonHum*
blaststuff
*.xml
StartCheck.py
WatchDeme.py
dry*run*
